<a href="https://colab.research.google.com/github/yds725/nuclear_plant_proj/blob/code_development/label.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
label=pd.read_csv("/content/drive/My Drive/원자력 발전소/train_label.csv")
label

      id  label
0      0    110
1      1     29
2      2    111
3      3    176
4      4    130
..   ...    ...
823  823     19
824  824    166
825  825    132
826  826     84
827  827    110

[828 rows x 2 columns]

In [0]:
for i in range(len(label)):
    label["label"][i]=

29

In [0]:
for i in range(198):
    print("{} label\n{}".format(i,label.ix[label.label ==i, 0]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:961: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  return getattr(section, self.name)[new_key]

0 label
290    290
645    645
Name: id, dtype: int64
1 label
286    286
384    384
Name: id, dtype: int64
2 label
46      46
567    567
Name: id, dtype: int64
3 label
328    328
613    613
711    711
Name: id, dtype: int64
4 label
138    138
272    272
465    465
Name: id, dtype: int64
5 label
408    408
638    638
665    665
Name: id, dtype: int64
6 label
36      36
289    289
342    342
Name: id, dtype: int64
7 label
381    381
566    566
642    642
Name: id, dtype: int64
8 label
159    159
263    263
308    308
337    337
362    362
368    368
413    413
446    446
496    496
755    755
799    799
800    800
Name: id, dtype: int64
9 label
126    126
165    165
777    777
Name: id, dtype: int64
10 label
97      97
246    246
735    735
Name: id, dtype: int64
11 label
41      41
579    579
Name: id, dtype: int64
12 label
620    620
629    629
Name: id, dtype: int64
13 label
202    202
343    343
727    727
Name: id, dtype: int64
14 label
110    110
399    399
699    699
Name: id, dtype: int64
15 label
167    167
396    396
Name: id, dtype: int64
16 label
382    382
453    453
684    684
Name: id, dtype: int64
17 label
32      32
113    113
140    140
166    166
189    189
217    217
256    256
276    276
383    383
402    402
410    410
454    454
473    473
475    475
503    503
516    516
571    571
660    660
754    754
778    778
813    813
Name: id, dtype: int64
18 label
21      21
24      24
296    296
310    310
403    403
424    424
430    430
528    528
641    641
765    765
781    781
804    804
Name: id, dtype: int64
19 label
66      66
109    109
412    412
694    694
823    823
Name: id, dtype: int64
20 label
512    512
539    539
545    545
Name: id, dtype: int64
21 label
75      75
357    357
548    548
565    565
677    677
Name: id, dtype: int64
22 label
222    222
313    313
463    463
659    659
Name: id, dtype: int64
23 label
10      10
11      11
39      39
131    131
211    211
271    271
423    423
Name: id, dtype: int64
24 label
35      35
352    352
Name: id, dtype: int64
25 label
359    359
649    649
Name: id, dtype: int64
26 label
34      34
143    143
Name: id, dtype: int64
27 label
445    445
482    482
698    698
Name: id, dtype: int64
28 label
65      65
67      67
139    139
207    207
241    241
257    257
339    339
376    376
406    406
462    462
556    556
593    593
635    635
669    669
678    678
704    704
806    806
Name: id, dtype: int64
29 label
1        1
42      42
209    209
696    696
721    721
814    814
Name: id, dtype: int64
30 label
149    149
360    360
650    650
689    689
734    734
Name: id, dtype: int64
31 label
807    807
Name: id, dtype: int64
32 label
514    514
Name: id, dtype: int64
33 label
795    795
Name: id, dtype: int64
34 label
344    344
Name: id, dtype: int64
35 label
499    499
Name: id, dtype: int64
36 label
145    145
Name: id, dtype: int64
37 label
455    455
Name: id, dtype: int64
38 label
81      81
195    195
199    199
373    373
495    495
519    519
520    520
525    525
543    543
564    564
597    597
612    612
631    631
730    730
808    808
817    817
819    819
Name: id, dtype: int64
39 label
27    27
Name: id, dtype: int64
40 label
101    101
232    232
270    270
329    329
420    420
449    449
532    532
546    546
598    598
651    651
Name: id, dtype: int64
41 label
18    18
Name: id, dtype: int64
42 label
493    493
Name: id, dtype: int64
43 label
212    212
Name: id, dtype: int64
44 label
740    740
Name: id, dtype: int64
45 label
685    685
Name: id, dtype: int64
46 label
108    108
Name: id, dtype: int64
47 label
398    398
Name: id, dtype: int64
48 label
327    327
Name: id, dtype: int64
49 label
302    302
Name: id, dtype: int64
50 label
225    225
Name: id, dtype: int64
51 label
76    76
Name: id, dtype: int64
52 label
175    175
Name: id, dtype: int64
53 label
176    176
386    386
390    390
619    619
792    792
811    811
Name: id, dtype: int64
54 label
103    103
181    181
277    277
371    371
387    387
505    505
575    575
621    621
673    673
723    723
770    770
Name: id, dtype: int64
55 label
444    444
Name: id, dtype: int64
56 label
178    178
Name: id, dtype: int64
57 label
622    622
Name: id, dtype: int64
58 label
259    259
Name: id, dtype: int64
59 label
561    561
Name: id, dtype: int64
60 label
752    752
Name: id, dtype: int64
61 label
174    174
361    361
391    391
461    461
774    774
Name: id, dtype: int64
62 label
15      15
162    162
437    437
602    602
692    692
Name: id, dtype: int64
63 label
115    115
377    377
497    497
Name: id, dtype: int64
64 label
13      13
592    592
663    663
Name: id, dtype: int64
65 label
186    186
238    238
287    287
Name: id, dtype: int64
66 label
367    367
448    448
526    526
Name: id, dtype: int64
67 label
234    234
457    457
481    481
536    536
Name: id, dtype: int64
68 label
88      88
168    168
283    283
291    291
409    409
431    431
490    490
554    554
644    644
657    657
662    662
700    700
707    707
757    757
Name: id, dtype: int64
69 label
89      89
127    127
136    136
179    179
305    305
511    511
577    577
590    590
654    654
655    655
664    664
691    691
693    693
Name: id, dtype: int64
70 label
243    243
Name: id, dtype: int64
71 label
530    530
Name: id, dtype: int64
72 label
682    682
Name: id, dtype: int64
73 label
30      30
182    182
Name: id, dtype: int64
74 label
666    666
Name: id, dtype: int64
75 label
173    173
275    275
292    292
447    447
485    485
521    521
568    568
Name: id, dtype: int64
76 label
7        7
37      37
77      77
205    205
239    239
285    285
510    510
703    703
Name: id, dtype: int64
77 label
64      64
105    105
183    183
237    237
280    280
366    366
648    648
769    769
Name: id, dtype: int64
78 label
25      25
483    483
712    712
Name: id, dtype: int64
79 label
184    184
538    538
701    701
Name: id, dtype: int64
80 label
95      95
687    687
Name: id, dtype: int64
81 label
79      79
507    507
784    784
Name: id, dtype: int64
82 label
400    400
425    425
Name: id, dtype: int64
83 label
51      51
87      87
129    129
249    249
281    281
411    411
563    563
639    639
717    717
722    722
764    764
Name: id, dtype: int64
84 label
68      68
826    826
Name: id, dtype: int64
85 label
152    152
169    169
261    261
269    269
725    725
810    810
Name: id, dtype: int64
86 label
187    187
252    252
487    487
488    488
Name: id, dtype: int64
87 label
23      23
763    763
Name: id, dtype: int64
88 label
185    185
607    607
782    782
Name: id, dtype: int64
89 label
392    392
500    500
Name: id, dtype: int64
90 label
294    294
489    489
646    646
Name: id, dtype: int64
91 label
19      19
28      28
74      74
137    137
191    191
293    293
513    513
683    683
686    686
788    788
Name: id, dtype: int64
92 label
767    767
Name: id, dtype: int64
93 label
262    262
Name: id, dtype: int64
94 label
45    45
Name: id, dtype: int64
95 label
332    332
Name: id, dtype: int64
96 label
469    469
Name: id, dtype: int64
97 label
637    637
Name: id, dtype: int64
98 label
466    466
Name: id, dtype: int64
99 label
601    601
Name: id, dtype: int64
100 label
679    679
Name: id, dtype: int64
101 label
533    533
Name: id, dtype: int64
102 label
474    474
Name: id, dtype: int64
103 label
121    121
Name: id, dtype: int64
104 label
733    733
Name: id, dtype: int64
105 label
616    616
Name: id, dtype: int64
106 label
230    230
Name: id, dtype: int64
107 label
94    94
Name: id, dtype: int64
108 label
188    188
Name: id, dtype: int64
109 label
17    17
Name: id, dtype: int64
110 label
0        0
22      22
59      59
122    122
170    170
198    198
213    213
224    224
245    245
299    299
312    312
379    379
419    419
432    432
491    491
534    534
562    562
609    609
702    702
724    724
731    731
751    751
758    758
827    827
Name: id, dtype: int64
111 label
2        2
47      47
54      54
55      55
107    107
111    111
114    114
128    128
163    163
228    228
235    235
341    341
401    401
576    576
585    585
596    596
632    632
Name: id, dtype: int64
112 label
116    116
132    132
158    158
260    260
268    268
311    311
325    325
334    334
394    394
479    479
580    580
625    625
627    627
652    652
653    653
671    671
675    675
748    748
Name: id, dtype: int64
113 label
31      31
62      62
84      84
172    172
180    180
194    194
210    210
244    244
250    250
282    282
288    288
309    309
550    550
553    553
623    623
628    628
705    705
759    759
794    794
Name: id, dtype: int64
114 label
56      56
71      71
85      85
98      98
153    153
193    193
317    317
326    326
345    345
515    515
524    524
531    531
549    549
615    615
617    617
672    672
719    719
729    729
742    742
802    802
Name: id, dtype: int64
115 label
112    112
251    251
322    322
364    364
374    374
378    378
380    380
427    427
458    458
529    529
537    537
668    668
680    680
714    714
716    716
747    747
773    773
789    789
Name: id, dtype: int64
116 label
135    135
151    151
254    254
303    303
350    350
418    418
518    518
541    541
591    591
599    599
606    606
610    610
643    643
681    681
690    690
745    745
746    746
Name: id, dtype: int64
117 label
9        9
96      96
118    118
146    146
155    155
201    201
215    215
216    216
314    314
321    321
340    340
353    353
404    404
414    414
484    484
573    573
728    728
743    743
766    766
Name: id, dtype: int64
118 label
5        5
69      69
80      80
82      82
83      83
90      90
144    144
197    197
223    223
298    298
363    363
397    397
416    416
492    492
542    542
557    557
594    594
756    756
762    762
786    786
Name: id, dtype: int64
119 label
192    192
220    220
372    372
429    429
438    438
624    624
Name: id, dtype: int64
120 label
124    124
125    125
324    324
476    476
582    582
Name: id, dtype: int64
121 label
200    200
421    421
509    509
760    760
818    818
Name: id, dtype: int64
122 label
319    319
422    422
442    442
523    523
558    558
658    658
Name: id, dtype: int64
123 label
6        6
160    160
161    161
206    206
710    710
785    785
Name: id, dtype: int64
124 label
141    141
358    358
375    375
460    460
801    801
Name: id, dtype: int64
125 label
93      93
164    164
552    552
732    732
749    749
Name: id, dtype: int64
126 label
242    242
264    264
295    295
323    323
388    388
498    498
508    508
709    709
776    776
820    820
Name: id, dtype: int64
127 label
395    395
527    527
611    611
Name: id, dtype: int64
128 label
38      38
61      61
104    104
221    221
320    320
426    426
434    434
604    604
618    618
647    647
798    798
Name: id, dtype: int64
129 label
73      73
297    297
472    472
670    670
Name: id, dtype: int64
130 label
4        4
92      92
100    100
142    142
177    177
273    273
274    274
365    365
393    393
551    551
Name: id, dtype: int64
131 label
50      50
52      52
338    338
494    494
780    780
Name: id, dtype: int64
132 label
12      12
226    226
307    307
318    318
502    502
656    656
737    737
779    779
812    812
825    825
Name: id, dtype: int64
133 label
267    267
Name: id, dtype: int64
134 label
822    822
Name: id, dtype: int64
135 label
385    385
Name: id, dtype: int64
136 label
43      43
49      49
407    407
595    595
Name: id, dtype: int64
137 label
821    821
Name: id, dtype: int64
138 label
584    584
Name: id, dtype: int64
139 label
583    583
Name: id, dtype: int64
140 label
791    791
Name: id, dtype: int64
141 label
369    369
Name: id, dtype: int64
142 label
674    674
Name: id, dtype: int64
143 label
750    750
Name: id, dtype: int64
144 label
78    78
Name: id, dtype: int64
145 label
301    301
Name: id, dtype: int64
146 label
331    331
Name: id, dtype: int64
147 label
130    130
171    171
219    219
626    626
771    771
Name: id, dtype: int64
148 label
389    389
Name: id, dtype: int64
149 label
236    236
Name: id, dtype: int64
150 label
91    91
Name: id, dtype: int64
151 label
793    793
Name: id, dtype: int64
152 label
501    501
Name: id, dtype: int64
153 label
48    48
Name: id, dtype: int64
154 label
634    634
Name: id, dtype: int64
155 label
351    351
547    547
586    586
753    753
Name: id, dtype: int64
156 label
99      99
506    506
588    588
600    600
Name: id, dtype: int64
157 label
29      29
346    346
739    739
Name: id, dtype: int64
158 label
20      20
53      53
578    578
738    738
796    796
Name: id, dtype: int64
159 label
335    335
349    349
570    570
Name: id, dtype: int64
160 label
227    227
233    233
279    279
470    470
715    715
Name: id, dtype: int64
161 label
148    148
Name: id, dtype: int64
162 label
405    405
522    522
603    603
608    608
736    736
815    815
Name: id, dtype: int64
163 label
415    415
Name: id, dtype: int64
164 label
120    120
196    196
300    300
355    355
452    452
Name: id, dtype: int64
165 label
123    123
540    540
560    560
805    805
Name: id, dtype: int64
166 label
106    106
441    441
471    471
824    824
Name: id, dtype: int64
167 label
316    316
417    417
486    486
775    775
Name: id, dtype: int64
168 label
208    208
214    214
247    247
255    255
336    336
Name: id, dtype: int64
169 label
26      26
40      40
204    204
467    467
Name: id, dtype: int64
170 label
768    768
Name: id, dtype: int64
171 label
761    761
Name: id, dtype: int64
172 label
8        8
14      14
60      60
156    156
468    468
480    480
574    574
Name: id, dtype: int64
173 label
72      72
102    102
435    435
436    436
439    439
464    464
605    605
630    630
661    661
Name: id, dtype: int64
174 label
57      57
306    306
440    440
478    478
535    535
559    559
706    706
772    772
Name: id, dtype: int64
175 label
33      33
119    119
265    265
581    581
587    587
633    633
676    676
790    790
Name: id, dtype: int64
176 label
3        3
16      16
70      70
253    253
354    354
370    370
456    456
544    544
713    713
Name: id, dtype: int64
177 label
86      86
133    133
258    258
266    266
330    330
614    614
688    688
741    741
Name: id, dtype: int64
178 label
58      58
231    231
284    284
428    428
569    569
708    708
797    797
816    816
Name: id, dtype: int64
179 label
134    134
333    333
356    356
433    433
504    504
589    589
667    667
697    697
Name: id, dtype: int64
180 label
190    190
203    203
229    229
315    315
572    572
636    636
640    640
695    695
726    726
Name: id, dtype: int64
181 label
44      44
147    147
150    150
157    157
218    218
347    347
459    459
517    517
555    555
Name: id, dtype: int64
182 label
477    477
Name: id, dtype: int64
183 label
451    451
Name: id, dtype: int64
184 label
803    803
Name: id, dtype: int64
185 label
278    278
Name: id, dtype: int64
186 label
117    117
Name: id, dtype: int64
187 label
744    744
Name: id, dtype: int64
188 label
348    348
Name: id, dtype: int64
189 label
240    240
Name: id, dtype: int64
190 label
783    783
Name: id, dtype: int64
191 label
718    718
Name: id, dtype: int64
192 label
63      63
154    154
809    809
Name: id, dtype: int64
193 label
450    450
787    787
Name: id, dtype: int64
194 label
720    720
Name: id, dtype: int64
195 label
248    248
Name: id, dtype: int64
196 label
304    304
Name: id, dtype: int64
197 label
443    443
Name: id, dtype: int64